body {  
    background-color: #725036;
    font-family: 'Courier New', Courier, monospace;  
    color: #000000;
}
.nav_bar {
    font-size: 30px;
    font-weight: bold;
}
.container {
    margin-top: 30px;
}
.row {
}
.col-8 {
}
.col-4 {
}
.col-3.nav_logo {
}
.col-9 {
}
.nav_text {
    display: flex;
    align-items: center;
    justify-content: right;
}
.img_size {
}
.title_photo {
    text-align: center;
}

.my_photo {
    background: url(/image/myPhoto2.jpeg) no-repeat center center;
    background-size: 100%;
    width: 250px;
    height: 500px;
}

.nav_logo {
    background: url(/image/logo.jfif) no-repeat center center;
    background-size: 100%;
    width: 100px;
    height: 100px;
}

.center_auto {
    margin: 0 auto;
}

/* .button_js {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(120, 12, 12);
    width: 150px;
    height: 70px;
} */

.button_js {
    .myButton{
        position: fixed;
    }
    #myButton {
        background-color: #780d0d;
        color:#e8e5e3;
        padding: 10px 15px;
        margin-top: 5px;
        border-radius: 5px;
        cursor: pointer;
        justify-content: center;
        margin-right: 50%;
        margin-left: 50%;
        
    }
}

#demo img {
    margin-right: 30%;
    margin-left: 30%;
}